@import "../../_css/common";

.recoverPassword {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  background: linear-gradient(to bottom, #b7bce2, #3b46ab), url('/recover-password-bg.png') no-repeat center;
  background-size: cover;

  @include mid-break {
    grid-template-rows: 1fr;
    background-image: url('/recover-password.png');
  }

  h1 {
    grid-row: 1 / 2;
    text-align: center;
    color: white;
    margin-top: 2rem;
  }
}

.heroImg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-image: url('/recover-password.png');

  @include mid-break {
    background: none;
    display: flex;
    justify-content: center;
  }

  z-index: 1;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @include mid-break {
    width: 100%;
    padding: 10px;
  }
}

.formContainer {
  max-width: 550px;
  width: 100%;
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  @include mid-break {
    padding: 30px;
  }

  @include small-break {
    padding: 20px;
  }
}
