.account {
  margin-bottom: var(--block-padding);
}

.params {
  margin-top: var(--base);
}

.purchases {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.purchase {
  > * {
    margin: 0;
  }
}

.noPurchases {
  font-weight: 600;
}
.backgroundIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 37px 25px 40px 139px;
  box-sizing: border-box;
  position: relative;
  gap: 49.2px;
  max-width: 100%;
}
.myAccount,
.myOrders {
  position: relative;
  line-height: 52px;
}
.myOrders {
  color: #000;
  cursor: pointer;
}
.cardActions,
.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardActions {
  gap: 22px;
}
.cardHeader {
  padding: 72px 0 0;
}
.profileDetails {
  align-self: stretch;
  height: 702px;
  position: relative;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 0.2);
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: none;
}
.manageAndProtect,
.myProfile {
  position: relative;
  line-height: 52px;
  z-index: 2;
}
.manageAndProtect {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.72);
  margin-top: -12px;
}
.detailsContainer,
.detailsHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.detailsContainer {
  flex-direction: row;
  padding: 0 28px;
  box-sizing: border-box;
}
.divider,
.dividerLine {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.dividerLine {
  flex: 1;
  position: relative;
  border-top: 1px solid #d9d9d9;
  z-index: 1;
}
.divider {
  height: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 5px;
}
.username {
  position: relative;
  line-height: 52px;
  z-index: 2;
}

.nameField,
.nameFieldWrapper,
.nameValue {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nameValue {
  flex-direction: column;
  padding: 14px 0 0;
  text-align: left;
}
.nameField,
.nameFieldWrapper {
  flex-direction: row;
  max-width: 100%;
}
.nameField {
  gap: 53px;
}
.nameFieldWrapper {
  padding: 0;
  box-sizing: border-box;
}
.name {
  position: relative;
  line-height: 52px;
  display: inline-block;
  min-width: 86px;
  z-index: 2;
}
.contactInfoFields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1px;
}
.email {
  display: inline-block;
  min-width: 81px;
}
.email,
.phoneNumber {
  position: relative;
  line-height: 52px;
  z-index: 2;
}
.gender {
  position: relative;
  line-height: 52px;
  display: inline-block;
  min-width: 105px;
  z-index: 2;
}
.dateOfBirth {
  position: relative;
  line-height: 52px;
  z-index: 2;
}
.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 16px;
  min-width: 220px;
}
.emailValueDetails {
  align-self: stretch;
  width: 530px;
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.83);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.emailField,
.emailValue {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.emailValue {
  flex: 1;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.83);
  padding: 0 12px;
  z-index: 2;
}



.username


.linkLabel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14px 0 0;
  box-sizing: border-box;
  min-width: 200px;
}

.change {
  position: relative;
  text-decoration: underline;
  line-height: 52px;
  color: #135bd7;
  display: inline-block;
  min-width: 111px;
  z-index: 2;
}
.editButton {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.changeActions {
  position: relative;
  line-height: 52px;
  display: inline-block;
  min-width: 123px;
  z-index: 2;
}


.editPhone
.changeLink,
.editEmail,
.editLink {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.changeLink {
  flex-direction: row;
  gap: 35px;
}
.editLink {
  max-width: 100%;
}
.editLink {
  flex: 1;
  flex-direction: column;
  gap: 2px;
}


.userBirthDate {
  position: relative;
  line-height: 52px;
  display: inline-block;
  min-width: 129px;
  z-index: 2;
}
.dateValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}

.dateField {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}




.radio_group{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 52px;
}

.dateFieldContainer,
.editLink1,
.saveButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.editLink1 {
  flex-direction: row;
  padding: 0 1px;
}
.dateFieldContainer {
  flex-direction: column;
  gap: 33px;
}
.emailFieldContainer {
  flex: 1;
  flex-direction: column;
  gap: 15.7px;
  min-width: 346px;
  text-align: left;
}
.contactInfoContainer,
.emailFieldContainer,
.infoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contactInfoContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 49px;
}
.infoContainer {
  flex: 1;
  flex-direction: column;
  gap: 2px;
}
.profileInfo {
  align-self: stretch;
  flex-direction: row;
  padding: 0 46px 0 48px;
  box-sizing: border-box;
  text-align: right;
  font-size: 28px;
}
.profile,
.profileCard,
.profileInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.profile {
  flex: 1;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 0.2);
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0 0 49px;
  gap: 24px;
  min-width: 582px;
  text-align: left;
  font-size: 35px;
  color: #000;
}
.profileCard {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 53px;
}
.icon {
  width: 18px;
  height: 18px;
  position: relative;
}

.buttonLabel {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: Montserrat;
  color: #3b46ab;
  text-align: center;
  display: inline-block;
  min-width: 45px;
}
.stateLayer {
  flex: 1;
  padding: 10px 16px;
  gap: 8px;
}
.button,
.buttonWrapper,
.stateLayer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 1px solid #79747e;
  padding: 0;
  background-color: transparent;
  flex: 1;
  border-radius: 100px;
  overflow: hidden;
}
.buttonWrapper {
  width: 135px;
  padding: 0 12px;
  box-sizing: border-box;
}
.profileContainer,
.profileContainerWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.profileContainer {
  width: 1128px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 57px;
}
.profileContainerWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 60px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  color: #2925ed;
  font-family: Montserrat;
}
.headerParent,
.userprofile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerParent {
  align-self: stretch;
  gap: 49px;
  max-width: 100%;
}
.userprofile {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  gap: 71px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .header {
    gap: 25px;
    padding-left: 69px;
    box-sizing: border-box;
  }
  .myAccount,
  .myOrders,
  .myProfile {
    font-size: 24px;
    line-height: 42px;
  }
  .myProfile {
    font-size: 28px;
  }
  .contactInfo {
    flex: 1;
  }

  .contactInfoContainer {
    flex-wrap: wrap;
  }
  .profileInfo {
    padding-left: 24px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .profile {
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  .headerParent {
    gap: 24px;
  }
  .userprofile {
    gap: 35px;
  }
}
@media screen and (max-width: 700px) {
  .nameField {
    flex-wrap: wrap;
  }
  .nameFieldWrapper {
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
  }
  .genderSelection {
    flex-wrap: wrap;
    gap: 18px;
  }
  .emailFieldContainer,
  .profile {
    min-width: 100%;
  }
  .profileCard {
    gap: 26px;
  }
  .profileContainer {
    gap: 28px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding-left: 20px;
    padding-top: 24px;
    padding-bottom: 26px;
    box-sizing: border-box;
  }
  .myAccount,
  .myOrders,
  .myProfile {
    font-size: 18px;
    line-height: 31px;
  }
  .myProfile {
    font-size: 21px;
  }
  .manageAndProtect,
  .username {
    font-size: 22px;
    line-height: 42px;
  }
  .nameField {
    gap: 26px;
  }
  .dateOfBirth,
  .email,
  .gender,
  .name,
  .phoneNumber {
    font-size: 22px;
    line-height: 42px;
  }
  .editButton {
    flex-wrap: wrap;
  }
  .changeActions {
    font-size: 22px;
    line-height: 42px;
  }
  .changeLink {
    gap: 17px;
  }

  .genderOptions {
    flex-wrap: wrap;
  }

  .userBirthDate {
    font-size: 22px;
    line-height: 42px;
  }
  .dateField {
    gap: 16px;
  }

  .dateFieldContainer {
    gap: 16px;
  }
  .contactInfoContainer {
    gap: 24px;
  }
  .userprofile {
    gap: 18px;
  }
}
