@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.Catalogue{
  list-style: none;
}
.Catalogue li{
  display: inline-block;
  position: relative;
}
.Catalogue li a{
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
.Catalogue li ul.dropdown li{
  display: block;
}
.Catalogue li ul.dropdown{
  width: 100%;
  background: #2d67e3;
  position: absolute;
  z-index: 999;
  display: none;
}
.Catalogue li a:hover{
  background: #050d1d;
}
.Catalogue li:hover ul.dropdown{
  display: block;
}