@import '../../_css/common';

.inputWrap {
  width: 100%;
}

.input {
  width: 100%;
  font-family: system-ui;
  border-radius: 10px;
  box-shadow: none;
  border: 2px solid rgb(57, 51, 51);
  background-color: white;
  color: rgb(0, 0, 0);
  height: 64px;
  line-height: calc(var(--base) * 2);
  padding: 16px;
  font-size: 20px;

  &:focus {
    border: 2px solid black;
    outline: none;
  }

  &::placeholder {
    color: #888; /* Optional: Set placeholder text color */
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: #897777;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }


  &::selection {
    background: black;
    color: white;
  }

  &::-moz-selection {
    background: black;
    color: white;
  }
}

.asterisk {
  color: var(--color-error-500);
}

:global([data-theme="dark"]) {
  .input {
    background-color: white;
  }
}

.error {
  background-color: var(--theme-error-150);
}

.label {
  margin-bottom: 1;
  display: block;
  line-height: 1;
  margin-bottom: calc(var(--base) / 2);
  font-size: 15px;
}

.errorMessage {
  font-size: small;
  line-height: 1.25;
  margin-top: 4px;
  color: red;
}
