.footer{
    padding: 36px 0;
    background-color: var(--m3-sys-light-secondary);
    color: var(--m3-sys-light-on-secondary);
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 80px
}

.gutter-container {
    display: flex;
    flex-direction: column;
  }

.content {
  display: flex;
  align-items: center; /* This vertically centers the items */
}
.inclusions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    .item .text p {
      color: var(--m3-sys-light-on-secondary);
    }
  }

.item {
  margin-bottom: 10px; /* Adjust spacing between items as needed */
}

.content {
    display: flex;
    align-items: center; /* Vertically centers the image and text */
}

.icon {
  margin-right: 10px; /* Adjust spacing between the image and the text */
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 1rem; /* Adjust as needed */
}

.customUL{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  li {
    list-style: none;
    color: var(--m3-sys-light-on-secondary);
    p {
      color: var(--m3-sys-light-on-secondary);
    }
  }
}

.custom1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
  p {
    color: var(--m3-sys-light-on-secondary)
  }
}
