.footer{
    padding: 36px 0;
    background-color: #303b3e;

}
.wrap{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2) var(--base)
}

.gutter-container {
    display: flex;
    flex-direction: column;
  }
